.register-form{
    background: url("../assets/Images/vaccation.jpg") no-repeat center center;
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-form__formbox{
    display: flex;
    padding: 1rem;
}
form, fieldset{
    padding:1rem;
    height: 50vh;
}

.register-form__inputs{
    padding:1rem;}

