*, *::before, *::after {
    box-sizing: border-box;
  }

*{
    margin:0px;
    padding:0px;
}

body {
    font-family: Verdana;
    padding: 0.3rem 1rem 1rem 1rem;
    box-sizing: inherit;
    width:100%;
  }

header{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0.3rem 1rem 1rem 1rem;
    background-color: #FFFFFF;
margin-top: 0px;
}

.nav-bar__logo{
    color:#335576;
    cursor: pointer;
    text-decoration: none;
    margin-left: 50px;
    font-weight: bolder;
}

.nav-bar__list{
    list-style: none;
    padding:1em;
}

.nav-bar__item{
    display: inline-flex;
    padding:0.5em;
}

.nav-bar__list li a{
    text-decoration: none;
    color: #393939;
}

.nav-bar__link--current{
    text-decoration: underline ;
}

main{
    margin-top: 70px;
}

footer{
    padding:1rem;
    margin-top: 10px;
    background-color: #FEFAF5;
}
.footer-main{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height:20vh;
}

.footer-main__divisions{
    padding: 0.5rem;
    text-align: left;
    margin-right: 10px;
}

th, td{
    padding: 0.3rem;
    margin-left: 5px;
    margin-right: 5px;
}

th{
    color:#DB7A4E;
    font-size:12px;
    font-weight: 500;
}

h3, td{color:#335576;
    padding: 0.5rem;
}

td{font-weight:500;}

.footer-main__content{
    margin-top: 20px;
}

.footer-main__content img{
    padding: 0.3rem;
    width: 15%;
}

img.footer-main__content--fb{
    width:10%;
}
